body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.navbar {
    background: #0d6efd;
    color: white;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.container {
    padding: 20px;
}

.cards {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 15px;
    width: 23%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.sections {
    display: flex;
    gap: 20px;
}

.box {
    background: white;
    padding: 15px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.form-box {
    background: white;
    padding: 20px;
    margin: 30px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    background: orange;
    border: none;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
